<div *ngIf="group">
    <div class="container">
      <h2>{{ cours }} - {{ group.nom }}</h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-0"></div>
          <div class="col col-1">Id</div>
          <div class="col col-2">Nom</div>
          <div class="col col-3">Prenom</div>
          <div class="col col-4">Abscences</div>
          <div class="col col-5"></div> <!-- Add this header for actions -->
          <div class="col col-6"></div> <!-- Add this header for actions -->
        </li>
        <li class="table-row" *ngFor="let student of group.etudiants">
          <div class="col col-0" data-label="Id" *ngIf="!statuselimination(student)">
            <img src="../../../../../assets/danger.png" alt="Image" class="small-image">
          </div>
          
          <div class="col col-0" data-label="Id" *ngIf="statuselimination(student)"></div>
          <div class="col col-1" data-label="Id">{{ student.idEtud }}</div>
          <div class="col col-2" data-label="Nom">{{ student.nom }}</div>
          <div class="col col-3" data-label="Prenom">{{ student.prenom }}</div>
          <div class="col col-4" data-label="Nombre Abscences">{{ getAbsencesCount(student) }}</div>
          <div class="col col-5"> <button class="button-37" (click)="detailAbsence(student.idEtud)">Details</button></div>
          <div class="col col-6"> <button class="button-38" (click)="ajouterAbsence(student.idEtud)">Ajouter</button></div>
        </li>
      </ul>
    </div>
  </div>
  