<!-- forget-password.component.html -->
<div class="login-container">
    <!-- Add this line for a back arrow -->
    <form class="login-form" (ngSubmit)="forgotPassword()">
      <a href="javascript:history.back()">
        <img src="../../assets/backarrow.png" alt="Back" class="back-arrow" />
      </a>
      <h2 class="login-title">Reinitialiser votre mot de passe:</h2>
      <div class="form-group">
        <input
          type="email" 
          id="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-group">
        <button type="submit" class="submit-button">Submit</button> <!-- Changed text to Submit -->
      </div>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
</div>
