/* login.component.scss */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f2f1;
  
    .login-form {
      max-width: 450px;
      width: 100%;
      padding: 2rem;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      box-sizing: border-box; /* Make sure padding doesn't affect overall width */
    }
  
    .form-group {
      margin-bottom: 1rem;
      display: flex; /* Aligns the label and input */
      flex-direction: column;
    }
  
    label {
      font-size: 0.875rem;
      margin-bottom: 0.5rem; /* Add space between label and input */
    }
  
    input {
      width: calc(100% - 2rem); /* Reduces the input width by the padding */
      padding: 1rem;
      margin: 0 auto; /* This will center the input fields */
      border-radius: 4px;
      border: 1px solid #8a8886;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  
    input::placeholder {
      color: #8a8886;
    }
  
    .submit-button {
      width: calc(100% - 2rem); /* Match input width */
      padding: 1rem;
      margin: 0 auto 1rem auto; /* Center button and add space on top */
      border-radius: 4px;
      border: none;
      background-color: #0078d4;
      color: white;
      font-size: 0.875rem;
      line-height: 1.25rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #005a9e;
      }
    }
    .create-button {
      width: calc(100% - 2rem); /* Match input width */
      padding: 1rem;
      margin: 0 auto 1rem auto; /* Center button and add space on top */
      border-radius: 4px;
      border: none;
      background-color: #a2a7ac;
      color: white;
      font-size: 0.875rem;
      line-height: 1.25rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #2e353a;
      }
    }
  
    .error-message {
      color: #d83b01;
      margin-top: 1rem;
      text-align: center;
    }

    .action-links {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
    }

    .forgot-password {
      color: #0078d4;
      text-decoration: none;
      font-size: 0.875rem;
      cursor: pointer;
      
      &:hover {
        text-decoration: underline;
      }
    }
    .login-title {
      font-size: 1.5rem; /* Adjust size as needed */
      font-weight: bold;
      color: #000;
      text-align: center;
      margin-bottom: 2rem; /* Add space below the title */
    }

  }
  