<div class="login-container">
    <form class="login-form" (ngSubmit)="resetPassword()" #resetForm="ngForm">
      <h2 class="login-title">Saisir votre nouveau mot de passe</h2>
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <input
          type="password"  
          id="newPassword"  
          name="newPassword"  
          [(ngModel)]="newPassword"
          placeholder="Entrez le nouveau mot de passe" 
          required
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmer votre nouveau mot de passe</label>
        <input
          type="password"  
          id="confirmPassword"  
          [(ngModel)]="confirmPassword"
          name="confirmPassword"  
          placeholder="Confirmez le nouveau mot de passe"  
          required
        />
      </div>
      <div class="form-group">
        <button type="submit" class="submit-button">Confirmer</button>
      </div>
    </form>
  </div>
