<!-- <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
    <div>
      <label for="nomCours">Course Name:</label>
      <input type="text" id="nomCours" name="nomCours" [(ngModel)]="course.nomCours" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="course.description" required></textarea>
    </div>
    <div>
      <label for="idProfesseur">Professor ID:</label>
      <input type="number" id="idProfesseur" name="idProfesseur" [(ngModel)]="course.idProfesseur" required>
    </div>
    <div>
      <label for="absencesAutorisees">Allowed Absences:</label>
      <input type="number" id="absencesAutorisees" name="absencesAutorisees" [(ngModel)]="course.absencesAutorisees" required>
    </div>
    <button type="submit" [disabled]="courseForm.invalid">Submit</button>
  </form>
   -->