<!-- <form (ngSubmit)="onSubmit()">

    <div>
      <label for="idUser">ID User:</label>
      <input type="number" id="idUser" name="idUser" [(ngModel)]="etudiant.idUser" required>
    </div>
    <div>
      <label for="groupe">Groupe:</label>
      <input type="text" id="groupe" name="groupe" [(ngModel)]="etudiant.groupe" required>
    </div>
    <div>
      <label for="nom">Nom:</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="etudiant.nom" required>
    </div>
    <div>
      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="etudiant.prenom" required>
    </div>
    <div>
      <label for="numeroTel">Numéro de Téléphone:</label>
      <input type="text" id="numeroTel" name="numeroTel" [(ngModel)]="etudiant.numeroTel" required>
    </div>
    <button type="submit">Submit</button>
  </form>
   -->