<!-- <div class="wrapper">
    <div class="half-page">
      <div class="card">
        <form (ngSubmit)="onSubmit()">
          <div class="formbold-input-flex">
            <div>
              <label for="reason" class="formbold-form-label">Reason:</label>
              <input type="text" id="reason" name="reason" [(ngModel)]="reason" class="formbold-form-input">
            </div>
            <div>
              <label for="status" class="formbold-form-label">Status:</label>
              <select id="status" name="status" [(ngModel)]="status" class="formbold-form-input">
                <option value="JUSTIFIEE">Justifiée</option>
                <option value="NON_JUSTIFIEE">Non justifiée</option>
              </select>
            </div>
          </div>
          <div>
            <label for="idSession" class="formbold-form-label">Session ID:</label>
            <input type="number" id="idSession" name="idSession" [(ngModel)]="idsession" class="formbold-form-input">
          </div>
          <button type="submit" class="formbold-btn">Add Absence</button>
        </form>
      </div>
    </div>
    <div class="half-page2">
        <div class="card">
          <div class="etudiant-info">
            <div class="avatar">
              <img src="../../assets/avatar.png" >
            </div>
            
            <div *ngIf="etudiant">
              <div class="detail">
                <span class="label">Nom:</span>
                <span>{{ etudiant.nom }}</span>
              </div>
              <div class="detail">
                <span class="label">Prenom:</span>
                <span>{{ etudiant.prenom }}</span>
              </div>
              <div class="detail">
                <span class="label">Groupe:</span>
                <span>{{ etudiant.groupe }}</span>
              </div>
              <div class="detail">
                <span class="label">Numero Tel:</span>
                <span>{{ etudiant.numeroTel }}</span>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
      
   -->