
  


  <div>
    <div class="container">
      <h2>List des matieres
     </h2>
      <ul class="responsive-table">
        <li class="table-header">
      
          <div class="col col-1">Nom cours</div>
          <div class="col col-2">description</div>
          <div class="col col-3">Groupe</div>
          <div class="col col-4">Action</div>
        </li>
        <li class="table-row" *ngFor="let cours of coursList" (click)="saveSelectedCours(cours)">

          
          
          <div class="col col-1" data-label="Id">{{ cours.nomCours }}</div>
          <div class="col col-2" data-label="Nom">{{ cours.description }}</div>
          <div class="col col-3" data-label="Prenom">{{ cours.nomGroupe }}</div>
          <div class="col col-0" data-label="Nombre Abscences"> <button class="button-38" type="button" (click)="deleteCours(cours)">Delete</button></div>
        </li>
      </ul>
    </div>
  </div>
  





